@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    font-family: 'Outfit', sans-serif;  
    background-color: #1E1E1E;  
    color: #FFFEDE;
  }

  .hyperlink{
    color: inherit;
    text-decoration: none;
    
  }

  #sesion{
    position: fixed;
    top: 2%;
    left: 72%;
  }

  #quienes{
    position: fixed;
    top: 2%;
    left: 40%;
  }

  .app-container {
    text-align: center;
  }  

  .header {    
    padding:1rem;
    margin-bottom: 2rem;
  }

  .main{
    position: relative;
  }

  #titulo{
    color: white;
    position: fixed;
    font-weight: bolder;
    font-size: 74px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #subtitulo{
    color: white;
    position: fixed;
    font-weight: bolder;   
    font-size: 25px;
    width: 500px; 
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 50;
  }

  .button-container {
    position: fixed; 
    display: inline-block; 
    margin-top: 1rem;
    top: 70%;    
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  #register {    
    background-color: #8BB481;       
    width: 270px;
    height: 70px;
    color: white;    
    border: 3px solid #1E1E1E; 
    border-radius: 40px;
    font-family: 'Outfit', sans-serif;  
    font-weight: bold;  
    font-size: 20px;
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
  }
  
  #sombraBoton {
    position: absolute;
    width: 270px;
    height: 70px;
    top: 0.15rem; 
    left: -0.15rem;
    background-color: #677F61;
    border-radius: 40px;
    z-index: -1;
    border: none;
  }

  #empresa{
    margin-bottom: 25px;
  }
  
  .main button:hover {
    background-color: #cc8400;
  }

  .collaboration {
    margin-top: 1rem;
    width: 250%;
    position: fixed;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 8px;
  }

  .collaboration p {  
    margin: 0;
  }

  .collaboration button {
    background-color: #00ADB5;
    color: white;
    margin-top: 0.5rem;
  }

  .collaboration button:hover {
    background-color: #007f87;
  }